@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Zilla Slab', serif;
}

h1,
h2,
h3,
h4,
button {
    font-family: 'Domine', serif;
}

.logo {
    font-family: 'Righteous', cursive !important;
    font-weight: 700;
}
/* chefs card  */
.chef-card:hover .chef-card-inner{
 top: 22%;
}
.chef-card-inner{
    transition: 1s;
}