@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Domine:wght@500;600;700&family=Zilla+Slab:wght@300;400&display=swap');

* {
    font-family: 'Zilla Slab', serif;
}

h1,
h2,
h3,
h4,
button {
    font-family: 'Domine', serif;
}

.logo {
    font-family: 'Righteous', cursive !important;
    font-weight: 700;
}